* {
    font-family: 'Poppins', sans-serif;
}

.container-fluid {
    max-width: 80%;
}

.navbar-brand {
    color: #198754;
}

.card-text {
    color: #A2A2A2;
}

.card2 {
    max-width: 50%;
}

.active {
    color: #0d6efd;
}

.tblhead {
    color: #198754;
}

.tblhead2 {
    color: #d63384;
}

.forum {
    max-width: 70%;
}